
upstream rails_application {
  server unix:/var/www/{{ rails.application }}/shared/tmp/sockets/unicorn.sock fail_timeout=0;
}

server {
  listen 80;

  server_name {{ nginx.url }};
  root /var/www/{{ rails.application }}/current/public;
  access_log /var/log/nginx/{{ rails.application }}.access;
  error_log /var/log/nginx/{{ rails.application }}.error;

  try_files $uri/index.html $uri @app;

  #
  # Currently SSL has not supported by this ansible script yet
  #
  # listen 443 ssl;
  # ssl_certificate /etc/nginx/ssl/nginx.crt;
  # ssl_certificate_key /etc/nginx/ssl/nginx.key;
  #

  location ~ ^/(assets|images|javascripts|stylesheets|system|components)/ {
    gzip_static on;
    expires     max;
    add_header  Cache-Control public;
  }

  location @app {
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_pass http://rails_application;
  }
}
